*{
    box-sizing: border-box;
}
#root {
    
}
#nav {
    background-color: antiquewhite;
}

.logo{
    max-width: 10%;
    height: auto;
}

#array {
    background-color: aquamarine;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number{
    width: 40px;
    background-color: burlywood;
    border-width: 1px;
    border-style: solid;
    font-size: 30px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.sorting{
    background-color: red;
}

.number-text{
    margin: auto;
    margin-bottom: 0;
}
#speed-slider{
    background-color: azure;
}
.steps{
    position: absolute;
    font-size: 25px;
}