*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
#root {
    
}
#nav {
    display: flex;
    flex-direction: row;
    background-color: coral;
}

#nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#nav ul li{
    padding-right: 20px;
    color: gray;
    font-weight: bold;
    margin: auto;
}
#nav ul li.selected{
    font-weight: bold;
    color: white;
}

#algs{
    cursor: pointer;
}

.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}

#array {
    background-color: powderblue;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number{
    min-width: 35px;
    background-color: burlywood;
    border-width: 1px;
    border-style: solid;
    font-size: 30px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
#info-box{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    z-index: 1;
}

#array-history p{
    max-width: inherit; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    max-width: 400px;
    background-color: chartreuse;
}
.sorting{
    background-color: aquamarine;
}

.current-array{
    color: red;
}
.number-text{
    margin: auto;
    margin-bottom: 0;
}
#speed-slider{
    background-color: azure;
}

.swaps{
    top: 10%;
}
.small{
    position: relative;
    bottom: 35px;
}
.hidden{
    display: none;
}
.tiny{
    min-width: 15px;
}
.finished{
    background-color: coral;
}

#snippet{
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 400px;
    z-index: 2;
    background-color: yellow;
}
.move-to-right{
    background-color: khaki;
}
.move-to-left{
    background-color: ivory;
}